body{
    font-family: 'Otomanopee One', sans-serif;
}
h1{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 50px;
}
.blue{
    color: deepskyblue;
}
.button{
    text-decoration: none;
    font-weight: 900;
    background-image: linear-gradient(powderblue, deepskyblue);
    border-radius: 5px;
    padding: 15px;
    color: black;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.nxt{
    margin-top: 13%;
}
.frame{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    width: 100%;
    padding: 0%;
}
h2{
    text-align: center;
}
#para{
    padding-left: 5%;
}
#para1{
    padding-top: 5%;
}
.three-width{
    width: 30%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    box-shadow: 10px 10px 40px powderblue;
    border-radius: 7%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.three-width img{
    width: 100%;
    border-radius: 10%;
}
p{
    text-align: justify;
    padding-right: 2%;
}
#justify{
    display: flex;
    width: 100%;
}
.threewidth{
    width: 100%;
}
.lp{
    padding-left: 30%;
}
footer{
    text-align: center;
    color: floralwhite;
    background-color: black;
    padding-top: 5%;
    padding-bottom: 7%;
}